extends base


mixin reviewCard(review)
  .reviews__card
    .reviews__avatar
      img.reviews__avatar-img(src=`/img/users/${review.user.photo}`, alt=`${review.user.name}`)
      h6.reviews__user=review.user.name
    p.reviews_text=review.review



  

block content 
  section.section-header
    .header__hero
      .header__hero-overlay &nbsp;
      img.header__hero-img(src=`/img/tours/${tour.
imageCover}`, alt=`${tour.name}`)
    .heading-box
      h1.heading-primary
        span=tour.name
      .heading-box__group
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-clock')
          span.heading-box__text=`${tour.duration} days`
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-map-pin')
          span.heading-box__text=`${tour.startingLocation}`

  section.section-description
    .overview-box
      div
        .overview-box__group
          h2.heading-secondary.ma-bt-lg Quick facts
          .overview-box__detail
            svg.overview-box__icon
              use(xlink:href='/img/icons.svg#icon-calendar')
            span.overview-box__label Next date
            span.overview-box__text=tour.startDates[0].toLocaleString('en-us',{month:'long',year:'numeric'})
          .overview-box__detail
            svg.overview-box__icon
              use(xlink:href='/img/icons.svg#icon-trending-up')
            span.overview-box__label Difficulty
            span.overview-box__text=tour.difficulty
          .overview-box__detail
            svg.overview-box__icon
              use(xlink:href='/img/icons.svg#icon-user')
            span.overview-box__label Participants
            span.overview-box__text=`${tour.maxGroupSize} people`
          .overview-box__detail
            //- svg.overview-box__icon
            //-   use(xlink:href='/img/icons.svg#icon-star')
            //- span.overview-box__label Rating
            //- span.overview-box__text 4.9 / 5

        .overview-box__group
          h2.heading-secondary.ma-bt-lg Your tour guides
          each guide in tour.guides
            .overview-box__detail
              img.overview-box__img(src=`/img/users/${guide.photo}`, alt=`${guide.name}`)

              - if (guide.role === 'lead-guide')
                span.overview-box__label Lead guide
              - if (guide.role === 'guide')
                span.overview-box__label Tour guide
              span.overview-box__text= guide.name

          
    .description-box
      h2.heading-secondary.ma-bt-lg=`About the ${tour.name}`
      p.description__text=tour.summary


  section.section-reviews
    p.cta__text=`Review on the ${tour.name}`
    form.review-form
      input#review(type='text' placeholder='Write your review') 


      button.subscribe-btn Submit 
    .reviews
      each review in tour.reviews
        +reviewCard(review)

       


        
  
  section.section-cta
    .cta
      .cta__img.cta__img--logo
        
      .cta__content
        h2.heading-secondary What are you waiting for?
        p.cta__text= `Embark on ${tour.duration} days. journey filled with adventure, creating countless memories that will last a lifetime. Seize the opportunity to make this extraordinary experience uniquely yours—today!`
        
        if user
          a.btn.btn--green.span-all-rows(href='/booking') Book tour now!
        else
          a.btn.btn--green.span-all-rows(href='/login') Log in to book tour